# Object files
.DS_Store
.vscode
.idea
data/data
data/riot/riot
data/riot/index
data/riot1/index
data/riot1/riot1
data/client/client
examples/pinyin/index

# Debug files
*.dSYM/
*.su
debug

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
 .glide/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
# *.out

