# Object files
.DS_Store
.vscode
.idea
# vendor

riot-index
data/data
data/riot/riot
data/riot/heartb/heartb
data/riot/riot-index
data/riot1/riot-index
data/riot1/riot1
data/riot1/heartb/heartb
data/client/client
examples/benchmark/benchmark
examples/codelab/codelab
examples/dict/dict
examples/logic/logic
examples/new/new
examples/new/riot-index
examples/pinyin/pinyin
examples/pinyin/riot-index
examples/pinyin_weibo/pinyin_weibo
examples/store/store
examples/store/riot-index
examples/simple/simple
examples/simple/zh/zh
examples/weibo/weibo

# Debug files
*.dSYM/
*.su
debug

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
 .glide/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
# *.out

